global
  master-worker

defaults
  mode http
  log global
  option httplog
  option  dontlognull

program websocat
  command ./websocat_amd64-linux -q -t ws-l:127.0.0.1:31337 mirror: 

frontend ws_front
  bind 127.0.0.1:8080 name http
  default_backend ws_back

backend ws_back
  server websocat 127.0.0.1:31337 

